<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {# print the logo if the diplay_logo option is on & there's a logo #}
        {% if config.get('coming_soon_logo') and logo %}
        <img alt="{{ 'Home'|t }}" src="{{ logo }}"/>
        {% endif %}
        {# print the page's heading #}
        {% if config.get('coming_soon_heading') %}
        <h1>{{ config.get('coming_soon_heading') }}</h1>
        {% endif %}
        {# print the page's body #}
        {% if config.get('coming_soon_body.value') %}
        <div class="subtitle">{{ config.get('coming_soon_body.value')|raw }}</div>
        {% endif %}

        {% if config.get('coming_soon_end_date') %}
          <div id="countdown"></div>
        {% endif %}

        {# print the form to collect subscriptions if this option is enabled in the configuration form #}
        {% if config.get('coming_soon_notification') %}
        {{ form }}
        {{ messages }}
        {% endif %}

        {# social networks : if the social network URL is specified, it will be printed #}
        <div class="social">
          {% if config.get('coming_soon_facebook') %}
          <a href="{{ config.get('coming_soon_facebook') }}" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% endif %}
          {% if config.get('coming_soon_twitter') %}
          <a href="{{ config.get('coming_soon_twitter') }}" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
          {% if config.get('coming_soon_googleplus') %}
          <a href="{{ config.get('coming_soon_googleplus') }}" title="Google+" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          {% endif %}
          {% if config.get('coming_soon_linkedin') %}
          <a href="{{ config.get('coming_soon_linkedin') }}" title="Linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          {% endif %}
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        {# print the copyrights #}
        <p class="copyright">
          {% if config.get('coming_soon_copyrights') %}
          {{ config.get('coming_soon_copyrights')|raw }}
          {% endif %}
        </p>
        <div class="credits">
        </div>
      </div>
    </div>
  </div>
</div>

{# change the background if it was uploaded in the configuration form #}
{# & Initialize the count down #}
<script type="text/javascript">
  {% if background.getFileUri() %}
  document.body.classList.add("path-coming-soon");
  document.body.style.background = "url('{{ file_url(background.getFileUri()) }}') no-repeat center center fixed";
  document.body.style.backgroundSize = "cover";
  {% endif %}
  var checkExist = setInterval(function() {
    if (jQuery('#countdown').length) {
      clearInterval(checkExist);
      jQuery('#countdown').countdown('{{ config.get('coming_soon_end_date')|date("Y/m/d") }}', function(event) {
        jQuery(this).html(event.strftime('<strong>%w</strong> weeks <strong>%d</strong> days <br /> %H:%M:%S'));
      });
    }
  }, 100);
</script>
