{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{#<div class="layout-container">#}

  {#<main role="main" class="maintenance-msg">#}
    {#<header role="banner">#}
      {#{% if logo %}#}
        {#<div class="brand logo">#}
          {#<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">#}
            {#<img src="{{ logo }}" alt="{{ 'Home'|t }}"/>#}
          {#</a>#}
        {#</div>#}
      {#{% endif %}#}

      {#{% if site_name or site_slogan %}#}
        {#<div class="name-and-slogan">#}
          {#{% if site_name %}#}
           {#<div class="site-name">#}
             {#<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>#}
           {#</div>#}
          {#{% endif %}#}

          {#{% if site_slogan %}#}
            {#<div class="site-slogan">{{ site_slogan }}</div>#}
          {#{% endif %}#}
        {#</div>#}{# /.name-and-slogan #}
      {#{% endif %}#}

    {#</header>#}
    {#<div class="clearfix">#}
      {#{% if title %}#}
        {#<h1>{{ title }}</h1>#}
      {#{% endif %}#}
    {#<div>#}
    {#{{ page.highlighted }}#}

    {#{{ page.content }}#}

  {#</main>#}

{#</div>#}{# /.layout-container #}


<div class="bg-img1 size1 overlay1 p-t-24">
    <div class="flex-w flex-sb-m p-l-80 p-r-74 p-b-100 respon5">
        <div class="wrappic1 m-r-30 m-t-10 m-b-10">
            {#<a href="#"><img src="images/icons/logo.png" alt="LOGO"></a>#}
        </div>

        <div class="flex-w m-t-10 m-b-10">
            <a href="https://www.facebook.com/kyanon.digital/" class="size3 flex-c-m how-social trans-04 m-r-6">
                <i class="fa fa-facebook"></i>
            </a>

            {#<a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">#}
                {#<i class="fa fa-twitter"></i>#}
            {#</a>#}

            {#<a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">#}
                {#<i class="fa fa-youtube-play"></i>#}
            {#</a>#}
        </div>
    </div>

    <div class="flex-w flex-sa respon1">
        <div class="p-t-34 p-b-60 respon3">
            <p class="l1-txt1 p-b-10 respon2">
                Kyanon's blog is
            </p>

            <h3 class="l1-txt2 p-b-45 respon2 respon4">
                Coming Soon
            </h3>

            <div class="cd100"></div>

        </div>

        {#<div class="bg0 wsize1 bor1 p-l-45 p-r-45 p-t-50 p-b-18 p-lr-15-sm">#}
            {#<h3 class="l1-txt3 txt-center p-b-43">#}
                {#Newsletter#}
            {#</h3>#}

            {#<form class="w-full validate-form">#}

                {#<div class="wrap-input100 validate-input m-b-10" data-validate = "Name is required">#}
                    {#<input class="input100 placeholder0 s1-txt1" type="text" name="name" placeholder="Name">#}
                    {#<span class="focus-input100"></span>#}
                {#</div>#}

                {#<div class="wrap-input100 validate-input m-b-20" data-validate = "Valid email is required: ex@abc.xyz">#}
                    {#<input class="input100 placeholder0 s1-txt1" type="text" name="email" placeholder="Email">#}
                    {#<span class="focus-input100"></span>#}
                {#</div>#}

                {#<button class="flex-c-m size2 s1-txt2 how-btn1 trans-04">#}
                    {#Subscribe#}
                {#</button>#}
            {#</form>#}

            {#<p class="s1-txt3 txt-center p-l-15 p-r-15 p-t-25">#}
                {#And don’t worry, we hate spam too! You can unsubcribe at anytime.#}
            {#</p>#}
        {#</div>#}
    </div>
</div>
