/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents:
  1. Base 1152 Grid
  2. Clearing
*/



/*==========================================================================
1. Base 1152 Grid
===========================================================================*/

.container-12 {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 1152px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12{
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}


/* Nested Column Classes
===========================================================================*/

.container-12 .alpha{margin-left: 0;}
.container-12 .omega{margin-right: 0;}

.container-12 .grid-1{width: 76px;}
.container-12 .grid-2{width: 172px;}
.container-12 .grid-3{width: 268px;}
.container-12 .grid-4{width: 364px;}
.container-12 .grid-5{width: 460px;}
.container-12 .grid-6{width: 556px;}
.container-12 .grid-7{width: 652px;}
.container-12 .grid-8{width: 748px;}
.container-12 .grid-9{width: 844px;}
.container-12 .grid-10{width: 940px;}
.container-12 .grid-11{width: 1036px;}
.container-12 .grid-12{width: 1132px;}


/* Prefix Styles
===========================================================================*/

.container-12 .prefix-1{padding-left: 96px;}
.container-12 .prefix-2{padding-left: 192px;}
.container-12 .prefix-3{padding-left: 288px;}
.container-12 .prefix-4{padding-left: 384px;}
.container-12 .prefix-5{padding-left: 480px;}
.container-12 .prefix-6{padding-left: 576px;}
.container-12 .prefix-7{padding-left: 672px;}
.container-12 .prefix-8{padding-left: 768px;}
.container-12 .prefix-9{padding-left: 864px;}
.container-12 .prefix-10{padding-left: 960px;}
.container-12 .prefix-11{padding-left: 1056px;}


/* Suffix Styles
===========================================================================*/

.container-12 .suffix-1{padding-right: 96px;}
.container-12 .suffix-2{padding-right: 192px;}
.container-12 .suffix-3{padding-right: 288px;}
.container-12 .suffix-4{padding-right: 384px;}
.container-12 .suffix-5{padding-right: 480px;}
.container-12 .suffix-6{padding-right: 576px;}
.container-12 .suffix-7{padding-right: 672px;}
.container-12 .suffix-8{padding-right: 768px;}
.container-12 .suffix-9{padding-right: 864px;}
.container-12 .suffix-10{padding-right: 960px;}
.container-12 .suffix-11{padding-right: 1056px;}



/*==========================================================================
2. Clearing
===========================================================================*/

/* Self Clearing Goodness */
.container-12:after {
	clear: both;
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.row:after,
.clearfix:after {
	clear: both;
}
.row,
.clearfix {
	zoom: 1;
}

/* You can also use a <br class="clear"> to clear columns */
.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}

.view-content:after	{
	clear: both;
	content: '';
	display: block;
	width: 100%;
}